/*  Fonts  */
@font-face {
    font-family: 'Folio Bk BT';
    src: url('../css/folio-book-bt/folio-bk-bt-book.ttf') format('truetype');    
    font-weight: normal;
    font-style: normal; 
}
 
 
@font-face {
    font-family: 'Folio Lt BT';
    src: url('../css/folio-light-bt/folio-lt-bt-light.ttf') format('truetype');    
    font-weight: normal;
    font-style: normal; 
}


.wrapper{
    width: 1024px;
    margin: 0 auto;
    position: relative;
}

/*  topbar  */

header .base_topo{
    width: 100%;
    min-width: 1024px;
    float:left;        
    background-color: rgb(84, 197, 208);
    height: 30px;
}

header .base_topo ul{
    list-style: none;    
        
}

header .base_topo ul li{
    float: left;     
    margin-top: 5px;  
}
header .base_topo ul li:last-child{
    margin-right: 0;     
}

header .base_topo ul li a span{
    display: inline-block;
    width: 20px;
    height: 20px;
}

.compartilhe{
    float: right;   
    position:relative;
    margin-right: 10px;
}

.compartilhe ul li{
     margin-right: 5px;
}

.compartilhe ul li.compartilhe_nas_redes_sociais{
    font-size: 12px;
    font-family: "Folio Bk BT";
    color: rgb(51, 51, 51);
    line-height: 1.2;
    margin-top: 9px;

}


.compartilhe .mais {
  border-radius: 50%;
  background-color: rgb(51, 51, 51);  
  width: 20px;
  height: 20px;
}

.compartilhe ._{  
    text-decoration: none;
    color: rgb(84, 197, 208);
    position:relative;
    top:2px;
    left:0.5px;
}

a._{
    padding: 2px 5px 2px 5px;

}

.compartilhe .mais:hover{  
    background-color: rgb(255, 255, 255);   
}

.compartilhe .facebook{
    background: url('../media/img/facebook.png') no-repeat;
    color: transparent;
}

.compartilhe a:hover .facebook{
    background: url('../media/img/facebook-hover.png') no-repeat;
}
.compartilhe .twitter{
    background: url('../media/img/twitter.png') no-repeat;
    color: transparent;
}

.compartilhe a:hover .twitter{
    background: url('../media/img/twitter-hover.png') no-repeat;
}


.lingua{
    float: right;    
    position:relative;
    margin-left: 10px;
    margin-right: 20px;
}
.lingua span{
    opacity: 0.5;
}

.lingua a{
    padding: 11px 5px 2px 5px; 
}

.lingua #brasil{
    background: url('../media/img/brasil.png') no-repeat;
}

.lingua #usa{
    background: url('../media/img/usa.png') no-repeat;
}

.lingua a:hover {
    background-color: rgb(40, 120, 128);
    padding: 11px 5px 2px 5px;
    opacity: 1;
}
.lingua a:hover span{
    opacity: 1;
}

/*menu*/
header .menu {
    background-color: rgb(51, 51, 51);
    width: 100%;
    min-width: 1024px;
    float:left;        
    height: 78px;
    z-index: 82;
    border-bottom: 2px ridge;
    border-bottom-color: rgb(69, 69, 69);
}

header .menu nav{
    float: right;
    margin-right: 20px;     
}
header .menu ul{
    list-style: none; 
    margin: 0;
    padding: 0;
}
header .menu nav ul li{     
    display: inline-block;  
    float: left;    
    z-index: 1;
    border-left: 2px groove;
    border-left-color: rgb(62, 62, 62);        
}
header .menu nav ul li:last-child {
    border-right: none;
}

header .menu nav ul li:first-child {
    border-left: none;
}

header .menu nav ul li a, .dropbtn {
    display: block;
    text-decoration: none;
    font-size: 16px;
    font-family: "Folio Bk BT";
    color: rgb(255, 255, 255);
    padding-top: 31px;
    padding-bottom: 31px;
    padding-right: 20px;
    padding-left: 20px;
}

/*remove espaço no final do menu*/
header .menu nav ul li:last-child a {
    padding-right: 0;
}

/* O container <div> - necessário para posicionar o conteúdo do dropdown */
.dropdown {    
    display: inline-block;  
}


/*conteúdo do dropdown, escondido por default*/
.dropdown-content {   
    display: none;
    position: absolute; 
    background-color: rgb(51, 51, 51);
    min-width: 178px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 84;
}

/*insere o acabamento do dropdown*/
.dropdown-content:after{
    position: absolute;
    z-index: -1;
    top:66.5%;
    content: url('../media/img/borda-dropdown.png');
    background-repeat: no-repeat;

}

/*mostra dropdown ao passar o mouse pelo menu*/
.dropdown:hover .dropdown-content{
    display: block;    
}

/* ajusta espaço vazio após inserção de seta pra baixo no botão; */
.dropdown:hover .dropbtn {    
    padding-bottom: 15px;
}

/*altera cor da letra ao passar o mouse pelos links*/
.dropdown-content a:hover, header .menu nav ul li a:hover, .dropdown:hover .dropbtn {color: rgb(84, 197, 208);}

/* sombra do menu */
header .menu:after{
    content: "";
    position: absolute;
    top: 78px;
    bottom: 0;
    background: rgb(51,51,51);
    min-width: 1024px;
    box-shadow: 0px 12px 8px 0px rgba(0,0,0,0.45);
    width: 100%;
    height: 20px;
    transform: rotate(0.7deg);
    z-index: -1;
}


/**
*** Seta para BAIXO
**/
   
.dropdown:hover .dropbtn:after, .dropbtn:hover:after {
  content: "";
  display: block;
  position: relative;
  left:46%;
  margin-top: 10px;
  width: 0px; 
  height: 0px;   
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 6px solid;
  border-top-color: rgb(84, 197, 208);
}

/*  ajusta espaço vazio após inserção de seta pra baixo no botão */
a.dropbtn:hover{
    padding-bottom: 15px;
}


/*LOGO*/

.logo{
    position: relative;
}

#logo-base-1{ 
    background-image: url("../media/img/logo-base-1.png");
    background-repeat: no-repeat;
    position: absolute;
    top:60px;
    left:-104px;
    width: 513px;
    height: 178px;
    z-index: 220;
}

#logo-base-1-borda{ 
    background-image: url("../media/img/logo-base-1-borda.png");
    background-repeat: no-repeat;
    position: absolute;
    top:60px;
    left:-109px;
    width: 521px;
    height: 184px;
    z-index: 221;
}
#logo-base-1-clear {
  background-color: rgb(51,51,51);
  position: absolute;
  left: -20px;
  top: 30px;
  width: 430px;
  height: 78px;
  z-index: 224;
}

#logo-base-2{ 
    background-image: url("../media/img/logo-base-2.png");
    background-repeat: no-repeat;
    position: absolute;
    top:116px;
    left:31px;
    width: 291px;
    height: 100px;
    z-index: 222;
}
/*remove borda top logo-base-2*/
#logo-base-2-clear {
  background-color: rgb(51,51,51);
  position: absolute;
  left: 35px;
  top: 30px;
  width: 282px;
  height: 91px;
  z-index: 223;
}


#sombra-logo {
  background-image: url("../media/img/sombra-logo.png");
  background-repeat: no-repeat;  
  position: absolute;
  left: 196px;
  top: 17px;
  width: 19px;
  height: 22px;
  z-index: 225;
}

#logo{
    position: absolute;
    left: 66px;
    top: 20px;
    z-index: 226;
}

/* Banner */

.banner{
    width: 100%;    
}

.banner-wrapper{
    width: 100%;
    height: 667px;
    overflow: hidden;
    position: relative;
}
.banner-base{   
    -webkit-mask-image: url("../media/img/banner-base.png");
  	mask-image: url("../media/img/banner-base.png");
  	-webkit-mask-repeat: no-repeat;
  	mask-repeat: no-repeat;
    position: absolute;
    left:50%;
    top: -15px;
    margin-left: -1082px;
    width: 1980px;
    height: 648px;
    z-index: -8;   
}

.banner-borda{
    background-image: url("../media/img/banner-borda.png");
    background-repeat: no-repeat;
    position: absolute;
    left:50%;
    top: 15px;
    margin-left: -898px;
    width: 1980px;
    height: 667px;
    z-index: -9;
}
.banner-sombra{
    background-image: url("../media/img/banner-sombra.png");
    background-repeat: no-repeat;
    position: absolute;
    left:50%;
    top: -110px;
    margin-left: -960px;
    width: 1980px;
    height: 667px;
    z-index: -10;
}


.grade{
	background-image: url("../media/img/grade.png");    
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    /*left:50%;
    top: 0px;
    margin-left: -982px;
    width: 1980px;
    height: 648px;*/
}

/* posicionando as imagens em relação a grade e outros elementos do banner*/
#slides{
	position: relative;
    z-index: 0;
}

/* para que as imagens fiquem uma do lado da outra*/
#slides .slide{
    position: relative;
    width: 100%;
    float: left;    
}

/* para ter certeza de que a imagem do slide será exibida em tela cheia */
#slides .slide img{
    width: 100%;
    height: auto;   
    
}

.legenda-base{
	background-image: url("../media/img/legenda-base.png");    
    top: 330px;
    left: 487px;
	position: absolute;
    z-index: 2;
    width: 457px;
    height: 378px;
}


.legenda{
	font-size: 36px;
  	font-family: "Folio Lt BT";
  	color: rgb(255, 255, 255);
  	line-height: 1.2;
  	text-shadow: 2px 3.464px 6px rgba(2, 0, 2, 0.004);
  	position: relative;
  	margin: 45px auto;
    width: 387px;
    height: 176px;
    border-bottom: 2px solid;
    border-bottom-color: rgb(84, 197, 208);
  	
}


